{% extends 'base.html' %}

{% block title %}
Scapilious Apartments | Home
{% endblock %}

{% block content %}
	<div class="jumbotron">
        <h1>Rental Data Aggregation in the Bay Area</h1>
        <p>As SF Bay Area increase in interests, Scrapilious allows users to visualize & learn why certain areas are more
        popular than the others.</p>
        <p>To see the difference between static and fixed top navbars, just scroll.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
        </p>
    </div>
{% endblock %}